includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
    tmpDir: build/phpstan

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Call to an undefined method JoeDixon\\TranslationCore\\TranslationManager#'